# ---- Unity (unity-project/) ----
unity-project/[Ll]ibrary/
unity-project/[Tt]emp/
unity-project/[Oo]bj/
unity-project/[Bb]uild/
unity-project/[Bb]uilds/
unity-project/[Ll]ogs/
unity-project/[Uu]ser[Ss]ettings/
!unity-project/[Aa]ssets/**/*.meta
*.csproj
*.sln
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ---- catkin_ws (catkin_ws/) ----
catkin_ws/build/
catkin_ws/devel/
catkin_ws/install/
catkin_ws/log/
*.bag
*.pyc
__pycache__/
.catkin_workspace
